@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
:root {
    --darkblue05: #091B6F;
    --darkblue04: #0D28A6;
    --darkblue03: #5E70C4;
    --darkblue02: #AEB7E1;
    --darkblue01: #CFD4ED;
    --primarygreen05: #3D7B3F;
    --primarygreen04: #5CB85F;
    --primarygreen03: #92D094;
    --primarygreen02: #C9E7CA;
    --primarygreen01: #DEF1DF;
    --lg-font: 'Roboto', sans-serif;
    --sm--font: 'Sora', sans-serif;
}

*{
    margin: 0;
    padding: 0px;
}
body {
    font-family: var(--sm--font);
    font-size: 100%;
    font-weight: 400;
}
.navbar-brand {
    background-color: blue;
    padding: 5px;
    border-radius: 3px;
    color: white;
}

.navbar-brand a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 15px;
}


.nav-item a {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-transform: uppercase;
}
#utama {
    background-color: #091B6F;
}

.offcanvas {
    width: 220px;
    border: none;
}

.offcanvas-header h5 {
    color: black;
    font-size: 15px;
    padding-top: 17px;
    padding-left: 10px;
    font-style: bold;
}


.btn-regis {
    display: inline-block;
    background-color: var(--primarygreen04);
    color: white;
    padding: 5px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    
}

.btn-regis:hover {
    background-color: var(--primarygreen04);
    color: black;
}
/*---------------Services Section--------------*/

#header {
    background-color: #F1F3FF;
    
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}
.text span {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
}
.services-text {
    max-width: 600px;
    padding-top: 150px;
    height: 430px;
}
.services-text p {
    width: 500px;
    font-size: 13px;
}

.services-bg {
    background-color: var(--darkblue04);
    position:absolute;
    height: 240px;
    width: 700px;
    right: 0;
    border-top-left-radius: 1.5cm;
    top: 261px;
    bottom: 0;
    padding-bottom: 200px;
}

.car {
    position: absolute;
    width: 704px;
    height: 407px;
    right: 0;
    top: 97px;
}

.services-bg img {
    width: 500px;
}

#konten {
    padding: 100px;
    height: 600px;

}

.konten-bg2 {
    width: 50%;
    padding: 15px;
}

.konten-bg2 img {
    background-color: var(--darkblue04);
    border-radius: 50%;
    position: relative;
    width: 374px;
    height: 366px;
    left: 50px;
    top: 35px;
}

.konten-tulisan {
    position: static;
    height: 72px;
    left: 0%;
    right: 0%;
    top: 0px;
}
.konten-tulisan h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}
.konten-tulisan p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    position: static;
    width: 570px;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.konten-tulisan .bg-icon {
    background-color: #CFD4ED;
    border-radius: 50%;
}


.konten-centang {
    width: 100%;
    height: 600px;
}
.konten-centang i {
    background-color: #CFD4ED; 
    color: blue; 
    width: 20px;
    height: 20px;

}

.box-wrap {
    width: 510px;
    height: 500px;
    padding: 20px;
}
.box-wrap .box-1 {
    border-radius: 250px;
    background-color: var(--primarygreen03);
    width: 120px;
    height: 120px;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
}

.box-wrap .box-2 {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #F9CC00;
    border-radius: 50%;
    margin-top: 370px;
    margin-left: 50px;
}

.box-wrap .box-3 {
    background-color: #FC4F4F;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 370px;
    margin-top: 30px;
}

.icon {
    background-color: #F9CC00;;
    border-radius: 50%;
    width: 30px;
    margin: 10px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: white;
}


#konten {
    padding: 100px;
    height: 740px;
    

}

.border-isi {
    color: rgb(179, 177, 177);
    border: 2px solid;
}

.isi-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: black;

}

.isi-text-2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
}
.icon-2 {
    background-color: #FA2C5A;
    color: white;
    border-radius: 50%;
    width: 30px;
    margin: 10px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.icon-3 {
    background-color: var(--darkblue04);
    border-radius: 50%;
    width: 30px;
    margin: 10px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: white;
}

.icon-4 {
    background-color: var(--primarygreen05);
    border-radius: 50%;
    width: 30px;
    margin: 10px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: white;
}

.testimonial-1 {
    justify-content: center;
    padding-left: 20px;
}

.testi-konten {
    background-color:#F1F3FF;
    padding: 20px;
    margin: 20px;
}
.testi-konten img {
    width: 50px;
    height: 50px;
    margin-top: 40px;
}

.testi-konten h4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.testi-konten p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: black;
}

.konten-icon {
    padding: auto;
    position: relative;
    
}
.started-section {
    justify-content: center;
    margin: 160px;
    border-radius: 10px;
    background-color: var(--darkblue04);
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}

.carousel-indicators button {
    background: black;
    width: 15px;
    height: 15px;
}

.carousel-indicators :active {
    background: white;
}
.started-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: white;
}


.text-2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.faq {
    width: 100%;
    height: 400px;
}

.faq-text  {
    position: absolute;
    height: 36px;
    left: 9.44%;
    right: 65%;
}

.faq-text h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.faq-text p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.faq-btn {
    width: 680px;
    height: 56px;
    left: 0px;
}

.faq-btn .btn {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px ;
    color: rgb(179, 177, 177);
    border: 3px solid;
}

.btn-text {
    color: black;
}

.dropdown-menu li {
    color: black;
}

.icon-footer i {
    background-color: #0D28A6;
    padding: 5px;
    color: white;
    border-radius: 30px;
}

/* RESPONSIVE  */
@media (max-width: 576px) {

    #header {
        padding: 20px;
        background-color: blue;
        height: 500px;
    }
    .services-text {
        padding-top: 70px;

    }
    .services-text p {
        font-size: 10px;
        width: 300px;
    }
    .services-text h1 {
        font-size: 25px;
        width: 300px;
    }
    .btn-regis {
        font-size: 10px;
    }
    .car {
        position: absolute;
        width: 300px;
        height: 200px;
        right: 0;
        left: 70px;
        top: 300px;
    }
    .services-bg {
        height: 100px;
        width: 370px;
        right: 0;
        border-top-left-radius: 2.0cm;
        bottom: 0;
        padding: 70px;
        margin-top: 100px;
    }

    .box-wrap{
        width: 600px;
        height: 275px;
        padding-left: 60px;
    }
    .box-wrap .box-1 {
        border-radius: 250px;
        width: 60px;
        height: 60px;
        display: inline-block;
        position: absolute;
        margin-top: 8px;
    }
    .konten-bg2 {
        padding: 2px;
    }
    .konten-bg2 img {
        border-radius: 50%;
        position: relative;
        width: 200px;
        height: 200px;
    }
    #konten {
        padding: 10px;

    }
    .box-wrap .box-2 {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-top: 210px;
        margin-left: 45px;
    }

    .box-wrap .box-3 {
        border-radius: 50%;
        position: absolute;
        width: 25px;
        height: 25px;
        margin-left: 240px;
        margin-top: 30px;
    }
    
    .konten-tulisan h1 {
        font-size: 20px;
        width: 330px;
    }

    .konten-tulisan p {
        font-size: 14px;
        line-height: 20px;
        position: static;
        width: 380px;
    }
    
    .isi-tulisan {
        text-align: center;

    }

    #why {
        height: 1100px;
        width: 100%;
        padding-left: 20px;
    }

    .border-isi {
        width: 380px;
        height: 220px;

    }
}